/*Will have to MANUALLY change columns and rows templates to whatever 
dimensions we decide for the grid*/
.grid {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(5, 1fr);
  direction: rtl;
  gap: 1px;
}

.cell {
  background-color: orange;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
/*just another style for the buttons to check things out */ 
.another {
  background-color: lightcyan;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: light;
}

.popup {
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  display: none;
}

.popup p {
  margin: 0;
}
